[CONFIGDB_BOOTSTRAP_SECTION]
BOOTSTRAP_USER={{mf.dbuser}}
BOOTSTRAP_PWD={{mf.dbpw}}
BOOTSTRAP_URL=jdbc:postgresql://{{mf.dbserver}}:{{mf.dbport}}/marketdata
BOOTSTRAP_DRIVER=org.postgresql.Driver

[LOGIN_INFO]
DEVPOSTGRES=jdbc:postgresql://{{mf.dbserver}}:{{mf.dbport}}/marketdata,{{mf.dbuser}},{{mf.dbpw}},org.postgresql.Driver
H2DEV=jdbc:h2:file:./h2dev;AUTO_SERVER=TRUE,sa,sa,org.h2.Driver

[EMFB]
POOL_SIZE=20

[CM_CONFIG]
pids=org.ops4j.pax.web,DAC.DacJaasRealmService

[CMPID_org.ops4j.pax.web]
#replace in production with keystore containing trusted certificate
org.ops4j.pax.web.ssl.keystore=/MyFinance/envconfig/{{mf.ssl_keystore}}
org.ops4j.pax.web.ssl.password = {{mf.ssl_pw}}
org.ops4j.pax.web.ssl.keypassword = {{mf.ssl_keypw}}
#should be true in Production
org.osgi.service.http.secure.enabled = true
#should be false in Production
org.osgi.service.http.enabled = {{mf.http_enabled}}

[CMPID_DAC.DacJaasRealmService]
#ldap,off or some thing else for karaf default
auth.mode=karaf

[MARKETDATA]
MARKETDATA_LAUNCH_USER={{mf.karaf_user}}
MARKETDATA_LAUNCH_PASSWORD={{mf.karaf_pw}}
MARKETDATA_LAUNCH_URL=https://{{clientip}}:{{mf.mfsecureport}}/dac/rest

[MF_ELASTIC_SEARCH]
ES_URL=http://{{clientip}}:{{mf.elastic_port}}/
ES_DAYS_AVAILABLE=5
