---
  #- name: upgrade all packages
  #  yum:
  #   name: '*'
  #   state: latest
  #   exclude: kernel*
  - name:  Add repository for npm
    shell: curl -sL https://rpm.nodesource.com/setup_12.x | bash -
    tags:
     - node  
  - name: Install some tool yum packages for npm etc
    dnf:
     name: "{{ item }}"
    with_items:
     #to install npm via maven
     - gcc-c++
     - nodejs
    tags:
     - node            