---
  - name: Add the user
    user:
     name: '{{username}}'
     comment: '{{username}}'
     uid: 1001
     #die wheel group ist bei centos automatisch mit sudo rechten in /etc/sudoers ausgestattet
     groups: wheel,docker
     password: '{{password}}'
    tags:
     - builduser     
  - name: add java home var
    lineinfile:
     path: '/home/{{username}}/.bash_profile'
     state: present
     line: 'export JAVA_HOME=/usr/lib/jvm/java'
    tags:
     - builduser     
  - name: add m2 home variable
    lineinfile:
     path: '/home/{{username}}/.bash_profile'
     state: present
     line: 'export M2_HOME=/opt/maven/current'
    tags:
     - builduser     
  - name: add java home and m2 to path
    lineinfile:
     path: '/home/{{username}}/.bash_profile'
     state: present
     line: 'export PATH=$PATH:$JAVA_HOME/bin:$M2_HOME/bin'
    tags:
     - builduser     
  - name: clone MF repository
    git:
     repo: '{{repourl}}'
     dest: '/home/{{username}}/repo/dac'
     umask: '0'
    tags:
     - builduser     
  - name: create dir for maven settings
    file: 
     path=/home/{{username}}/.m2 
     state=directory
     owner="{{username}}"
    tags:
     - builduser     
  - name: copy settings.xml
    template:
     src: settings.xml.j2
     dest: "/home/{{username}}/.m2/settings.xml"
     owner: "{{username}}"  
    tags:
     - builduser 
  - name: Log into DockerHub
    shell: "docker login -u {{docker.user}} -p {{docker.password}}"   
    become: yes
    become_user: "{{username}}"
    tags:
     - builduser            
