apiVersion: v1
clusters:
- cluster:
    certificate-authority: /home/{{username}}/.minikube/ca.crt
    server: https://192.168.100.74:8443
  name: minikube
contexts:
- context:
    cluster: minikube
    user: minikube
  name: minikube
current-context: minikube
kind: Config
preferences: {}
users:
- name: minikube
  user:
    client-certificate: /home/{{username}}/.minikube/profiles/minikube/client.crt
    client-key: /home/{{username}}/.minikube/profiles/minikube/client.key